
/* Pour smartphone entre 360px et 767px */
@media only screen and (min-device-width:360px) and (max-device-width:767px){
nav p{font-size: 0.5em;}
.action-content h2{font-size: 2em;}
.text-justify{margin:0;padding: 0;text-align: center;}
}