
/* Section slide image */
.slide h5{font-size: 100px;}
/* Bouton */
.btn-custom{padding: 1rem 2.5rem;color:white;background-color: #AF8F6F;}


/* Section Repas */
.text-justify{text-align: justify;margin-left: 2rem;margin-bottom: 3rem;}
.text-justify h4{padding-bottom: 1rem;}
.text-justify p{padding-bottom: 3rem;}
.text-justify button{padding: 0.5rem 1.5rem}

/* Section Gallerie images Section Repas */
.figure img{width: 100%;}

/* Section Chefs */
.image-container img{border-radius: 50%;object-fit: cover;padding-bottom: 2rem;}

/* Section Action */
.action{background: url('../image/fond2.jpg')no-repeat center center;padding: 12em 0;background-size: cover;position: relative;}
.action-content h2{font-size: 7rem;}
.action-content{position: relative;z-index:1}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.8);
}


/* Section Citation */
.citation{background-color: #AF8F6F;padding-top: 6rem;padding-bottom: 6rem;}
.citation img{border-radius: 50%;object-fit: cover;}

/* Section Blog */
.blog{padding-bottom: 8rem;padding-top: 6rem;}

/* STYLE */

/* section header */
header a{text-decoration: none;color: white;}
/* Couleur des icones */
.custom{color: #AF8F6F;}

/* section slide */
.color-titre{color: #AF8F6F;}
/* Couleur des boutons */
.btn-bars{background-color: #AF8F6F;border: #AF8F6F;padding: 0.5rem 1rem;}
.btn-glass{background-color: #322C2B;border:#322C2B;padding:0.5rem 1rem}
.repas button{color: #AF8F6F;border-color: #AF8F6F;border-radius: 0;}

/* Taille titre et texte */
h2{font-size: 4rem;font-weight: lighter;}
.sous-titre{font-size: 2rem;color: #AF8F6F;}
.sous-titre-blog{color: #AF8F6F;}
.chefs h6{font-size: 1.25rem;}
.chefs p{color: #AF8F6F;}

/* Couleur Section Réservation */
.reservation button{background-color: white;border-color: grey;border-radius: 0;color: black;}

/* Style section citation */
.citation button{background-color: #AF8F6F;border-color: white; color: white;}
.paphius{font-size: 0.8rem;}

/* Style section Blog */
.card-title{font-size: 1.5em;}
.card-body h6{color: grey;font-size: small;}
.card-text{color: grey;font-size: 0.9rem;}
.card-body a{text-decoration: none;color: black;}

/* Style section Footer */
footer{padding-top: 5rem;}
footer hr{color: #AF8F6F;}
footer i{color: #AF8F6F;}
.contact{color: #AF8F6F;}
footer li{color: white;}
.reseaux-sociaux i{color: white;}
.copyright i{color: white;}
.customize{color: #AF8F6F;}
footer h4{font-weight: lighter;}
